<mat-card style="margin-top: 5px;">
  <mat-card-header>
    <mat-icon mat-card-avatar style="font-size: 40px;">library_add</mat-icon>
    <mat-card-title>
      Save Playlist
    </mat-card-title>
    <mat-card-subtitle>
      Stream the FSU Top 50 playlist on Spotify
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    Stay up to date with what's trending at FSU right from your Spotify App.
  </mat-card-content>

  <mat-card-actions>
    <a href="https://open.spotify.com/playlist/6azxF1Y3xXZFbpYSK1qZsL?si=ySjXuTWSQJyWb7IaRgxglw">
      <button mat-stroked-button>
        Save to Spotify
      </button>
    </a>
  </mat-card-actions>
</mat-card>
