<mat-card style="margin-top: 5px;" *ngIf="!hasUserLinkedTheirAccount()">
  <mat-card-header>
    <img mat-card-avatar src="./../../assets/spotify-logo.png">
    <mat-card-title>
      Participate
    </mat-card-title>
    <mat-card-subtitle>
      Help improve this chart
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    Connect your Spotify account to have your favorite tracks automatically
    included in the rankings.
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button (click)="promptForEmailAddress()">Connect with Spotify</button>
  </mat-card-actions>
</mat-card>
