<a href="{{ this.artist.link }}" target="_blank">
  <mat-list-item>
    <p mat-list-icon style="padding-right: 15px;" class="primary-color">
      {{ this.rank }}.
    </p>
    <img mat-list-avatar src="{{ this.artist.profilePicture }}"/>
    <span mat-line style="text-align: left">{{ this.artist.name.substring(0, 25).padEnd(25) }}</span>
    <!-- This empty line makes the transition between lists more smooth -->
    <!-- Everything stays nice and lined up -->
    <!-- See for yourself by removing it -->
    <span mat-line></span>
    <!--    <span mat-line>{{ this.artist.count }} students</span>-->
  </mat-list-item>
</a>
