<mat-card style="margin-top: 5px;">
  <mat-card-header>
    <mat-icon mat-card-avatar style="font-size: 40px;">person</mat-icon>
    <mat-card-title>
      Artists
    </mat-card-title>
    <mat-card-subtitle>
      Over the past few weeks
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    HearTheSpear also tracks FSU's top 50 most-played artists.
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button routerLink="/top-artists">Show Top Artists</button>
  </mat-card-actions>
</mat-card>
