<mat-card style="margin-top: 5px;">
  <mat-card-header>
    <mat-icon mat-card-avatar style="font-size: 40px;">share</mat-icon>
    <mat-card-title>
      Share
    </mat-card-title>
    <mat-card-subtitle>
      https://hearthespear.com
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
   <p>
     If you found this list interesting, consider sharing it with another seminole!
   </p>
  </mat-card-content>
  <mat-card-actions>
      <button
        *ngIf="isShareSheetAvailable()"
        mat-stroked-button
        (click)="launchShareSheet()">
        Share
      </button>
      <button
        *ngIf="!isShareSheetAvailable()"
        mat-stroked-button
        (click)="copyLink()"
      >
        <mat-icon>link</mat-icon>
        Copy Link
      </button>

  </mat-card-actions>
</mat-card>
