<h1 mat-dialog-title>Confirm FSU Enrollment</h1>
<form [formGroup]="form" (submit)="sendEmail()">
  <div mat-dialog-content>
    These rankings are exclusive to FSU students. Enter your <u>student email address</u> to continue.
    <br>
    <mat-form-field appearance="standard">
      <mat-label>Student Email Address</mat-label>
      <input matInput placeholder="abc123@my.fsu.edu" formControlName="emailAddress">
      <mat-error *ngIf="form.get('emailAddress').invalid">
        Not a valid FSU email address.
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button (click)="dialogRef.close()">Cancel</button>
    <button mat-raised-button type="submit" color="primary">
      Send Verification Email
    </button>
  </div>
</form>

