<h1 mat-dialog-title>Link Your Spotify</h1>
<form [formGroup]="form" (submit)="sendEmail()">
  <div mat-dialog-content>

    This list is populated automatically based on the listening habits of Florida State students.

    <p>
      We need to make sure you're an FSU student.
      To verify your identity we will send a link to your student email.
    </p>


    <mat-form-field appearance="standard">
      <mat-label>Student Email Address</mat-label>
      <input matInput placeholder="abc123@my.fsu.edu" formControlName="emailAddress">
      <mat-error *ngIf="form.get('emailAddress').invalid">
        Not a valid FSU email address.
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="submit">
      Send Verification Email
    </button>
  </div>
</form>

