<div>
  <h1>How it works</h1>
  <p>
    HearTheSpear is a project I developed during the break between summer and fall classes this year.
    The goal is to make a list of our school's favorite songs and artists.
  </p>
  <p>
    HearTheSpear uses the Spotify API to track the most popular music at Florida State University.
    Are you an FSU student? Link your account to participate.
  </p>
  <button mat-raised-button (click)="openSignUpDialog()">Link Spotify Account</button>
  <h1>Privacy</h1>
  <p>
    To protect your privacy, HearTheSpear only collects data on your most frequently listened music.
    HearTheSpear can not read or make changes to your playlists, library, or preferences.
    You can always disconnect your Spotify account from HearTheSpear by visiting Spotify's
    <a href="https://support.spotify.com/us/using_spotify/features/revoke-access-from-3rd-party-app/">official website</a>.
  </p>
  <h1>Open Source</h1>
  <p>
    You can contribute to HearTheSpear's code by making a pull request
    at <a href="https://github.com/duncpro">github.com/duncpro</a>.
  </p>
  <h1>Author</h1>
  <mat-card>
    <mat-card-header>
      <img mat-card-avatar src="./../../assets/profile-shot.jpeg">
      <span mat-card-title>Duncan Proctor</span>
      <span mat-card-subtitle>Student</span>
    </mat-card-header>

    <mat-card-content>
      I'm a 22 year old working on my Bachelors degree at Florida State. If you'd
      like to develop something together, or even just hangout... hit me up! You can reach me at
      <a href="mailto:dbp19a@my.fsu.edu">dbp19a@my.fsu.edu</a>.
    </mat-card-content>
  </mat-card>
</div>
