<div  [ngClass]="{'big-side-margins' : isLargeScreen }">
  <h1>
    Participate
  </h1>
  All FSU students are eligible to participate in HearTheSpear!
  Help make our school’s music chart more accurate by connecting your Spotify account.
  <h3>
    How it works
  </h3>
  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar style="font-size: 30px;">
        looks_one
      </mat-icon>
      <mat-card-title>
        Confirm Enrollment
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Confirm your enrollment at FSU using your student email address. We'll send a link to your inbox.
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar style="font-size: 30px;">
        looks_two
      </mat-icon>
      <mat-card-title>
        Login with Spotify
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Your music taste will be automatically factored in to the school rankings!
    </mat-card-content>
  </mat-card>

  <br>


  <div style="text-align: center;">
    <button mat-raised-button color="primary" (click)="openSignUpDialog()">Start</button>
  </div>

</div>
