<div *ngIf="donePopulatingList">
  <div *ngIf="!useSuperWideList" style="padding-top: 10px;">
    Over the past few days, these have been the most popular artists at Florida State University.
    <span style="cursor: pointer;" (click)="showAboutPage()"><b><u>Learn more</u></b></span>
  </div>
  <mat-list class="{{ this.useSuperWideList ? 'wide-list' : '' }}">
    <div *ngFor="let artist of topArtists; index as i">
      <app-artist-list-item [artist]="artist" rank="{{ i + 1 }}">

      </app-artist-list-item>
    </div>
    <app-list-footer></app-list-footer>
  </mat-list>
</div>

<mat-spinner *ngIf="!donePopulatingList" style="margin-left: auto; margin-right: auto; margin-top: 35%;"></mat-spinner>
