<div *ngIf="donePopulatingList">
  <div *ngIf="!useSuperWideList" style="margin-top: 10px;">
    <mat-card>
      <mat-card-header>
        <mat-icon mat-card-avatar style="font-size: 40px;">person</mat-icon>
        <mat-card-title>
          Popular Artists
        </mat-card-title>
        <mat-card-subtitle>
          Over the past few weeks
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        These are the most popular artists at Florida State right now.
        <span style="cursor: pointer;" (click)="showAboutPage()"><b><u>Learn more</u></b></span>
        <br>
        <br>
        Click an artist to open in Spotify.
      </mat-card-content>
    </mat-card>


  </div>
  <mat-list class="{{ this.useSuperWideList ? 'wide-list' : '' }}">
    <div *ngFor="let artist of topArtists; index as i">
      <app-artist-list-item [artist]="artist" rank="{{ i + 1 }}">

      </app-artist-list-item>
    </div>
    <app-list-footer></app-list-footer>
  </mat-list>
</div>

<mat-spinner *ngIf="!donePopulatingList" style="margin-left: auto; margin-right: auto; margin-top: 35%;"></mat-spinner>
