<div *ngIf="donePopulatingList">
  <div *ngIf="tracks.length > 0">
    <div *ngIf="!useSuperWideList">
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar style="font-size: 40px;">radio</mat-icon>
          <mat-card-title>
            Now Playing
          </mat-card-title>
          <mat-card-subtitle>
            Songs we're listening to <u>right now</u>.
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          Click a song to preview.
        </mat-card-content>
      </mat-card>
    </div>
    <mat-list class="{{ this.useSuperWideList ? 'wide-list' : '' }}">
      <div *ngFor="let track of tracks; index as i">
        <app-song-list-item [track]="track" [showCount]="true" [showAnimation]="true">
        </app-song-list-item>
      </div>
      <app-list-footer></app-list-footer>
    </mat-list>
  </div>

  <div *ngIf="tracks.length < 1" style="width: 100%">
    <div  style="display: flex; align-items: center; height: 85vh; justify-content: center;">
      <div>
        <mat-icon style="font-size: 150px;">volume_off</mat-icon>
        <h1>It's quiet right now. </h1>
        <p>...too quiet...</p>
        <p style="cursor: pointer" (click)="showSignUpDialog()">
          <u><b>Link your account</b></u>
          and put on some music!
        </p>
      </div>
    </div>
  </div>
</div>

<mat-spinner *ngIf="!donePopulatingList" style="margin-left: auto; margin-right: auto; margin-top: 35%;">

</mat-spinner>
