<div *ngIf="donePopulatingList">
  <div *ngIf="!useSuperWideList" style="margin-top: 10px;">
    <mat-card>
      <mat-card-header>
        <mat-icon mat-card-avatar style="font-size: 40px;">music_note</mat-icon>
        <mat-card-title>
          Top Tracks
        </mat-card-title>
        <mat-card-subtitle>
          Over the past few days
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        These are the top 50 most played tracks at Florida State University.
        <br>
        <br>
        Click a song to preview.
      </mat-card-content>
    </mat-card>
  </div>
  <mat-list class="{{ this.useSuperWideList ? 'wide-list' : '' }}">
    <div *ngFor="let track of topTracks; index as i">
      <app-song-list-item [track]="track" rank="{{ i + 1 }}">
      </app-song-list-item>
    </div>
    <div *ngIf="screenSizeService.isScreenSmall()">
      <app-browse-artists-card></app-browse-artists-card>
    </div>
    <app-list-footer></app-list-footer>
  </mat-list>
</div>

<mat-spinner *ngIf="!donePopulatingList" style="margin-left: auto; margin-right: auto; margin-top: 35%;">

</mat-spinner>
