<div  [ngClass]="{'big-side-margins' : isLargeScreen }">
  <h1>
    Privacy Policy
  </h1>
  <h3>
    HearTheSpear is...
  </h3>
  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar style=" font-size: 30px;">
        person_outline
      </mat-icon>
      <mat-card-title>
        Completely Anonymous
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      We will never ask for personally identifying information such as your name, birthday, or gender. We do request your email address but only to verify your enrollment at FSU.
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar style=" font-size: 30px;">
        replay
      </mat-icon>
      <mat-card-title>
        Limited in Scope
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      We only collect data on the music you stream <b>most frequently</b>. HearTheSpear can not
      see or modify your complete music library.
    </mat-card-content>
  </mat-card>

  <br>

  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar style=" font-size: 30px;">
        money_off
      </mat-icon>
      <mat-card-title>
        Advert-free
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      We will never share your email address or listening history with third party advertisers.
    </mat-card-content>
  </mat-card>


  <h2>
    FAQ
  </h2>

  <mat-card>
    <mat-card-header>
      <div mat-card-avatar
           style="background-image: url('./../../assets/facebook.png');
          background-size: cover;
          width: 30px; height: 30px;"
      >

      </div>
      <mat-card-title>
        If I use Facebook to login to Spotify, can HearTheSpear see my profile?
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      No. Spotify does not share user’s Facebook information with third-party apps like HearTheSpear.
    </mat-card-content>
  </mat-card>

  <br>

  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar style=" font-size: 30px;">
        people
      </mat-icon>
      <mat-card-title>Can other students see what I'm listening to?
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Yes! But they won’t see your name, student email address, or any other personal details. HearTheSpear is completely anonymous.
    </mat-card-content>
  </mat-card>

  <br>

  <h2>Revoke Access</h2>
  <p>If you ever decide you want to stop participating you can always revoke HearTheSpear's access to your Spotify account.
    See <u><a href="https://support.spotify.com/us/article/revoke-access-from-3rd-party-app/">Spotify's official website.</a></u> </p>
</div>
