<mat-list-item (click)="playPreviewButton.togglePreview()" style="cursor: pointer; width: 350px; text-overflow: ellipsis;">
    <span  *ngIf="rank" mat-list-icon style="padding-right: 15px;" class="primary-color">
      {{ this.rank }}.
    </span>

  <app-playable-track-image
    mat-list-avatar [albumArt]="track.art"
    [previewUrl]="track.preview"
    #playPreviewButton
  ></app-playable-track-image>
  <span mat-line>{{ this.track.name }}</span>
  <span mat-line>{{ this.track.artist }}</span>
  <span *ngIf="showCount" mat-line>
      <ng-lottie *ngIf="showAnimation" [options]="options" width="12px" style="display: inline-block; vertical-align: middle;"></ng-lottie>
    {{ this.track.count }} student{{ this.track.count > 1 ? 's' : '' }}
    </span>
</mat-list-item>
