html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Remove the default hyperlink styling. It's ugly and I can do better. */
a {
  text-decoration: inherit;

  color: inherit;
}
